@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Bodoni Moda', serif;
  font-family: 'Cinzel', serif;
  font-family: 'Source Sans Pro', sans-serif;

  line-height: 1.5;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}
.cinz {
  font-family: "Cinzel", serif;
}
.bodoni {
  font-family: 'Bodoni Moda', serif;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-selector:hover,
.ant-select-open:hover,
.ant-select-open .ant-select-selector {
  border-color: white !important;
  box-shadow: none !important;
}
.ant-select-selector {
  border-color: white !important;
  /* margin: 30px !important;
  padding: 5px !important; */
}
.dropDown {
  background-color: antiquewhite;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}

.carouselImg {
  background-image: url("./assets/svg/herosvg.svg") !important;
  width: 100% !important;
  height: 300px;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: unset;
}

@media screen and (max-width: 768px) {
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    color: unset;
    font-size: unset;
    display: none !important;
  }
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}
/* .ant-carousel  .carousel-indicators .li    */
/* .slick-dots li  button >  */
.slick-active > button{
  background-color: #81672C !important;
}
/* .slick-dots li button{} */

@media screen and (min-width: 765px) {
  .slick-dots li {
    background-color: #81672C  !important;
    width: 100px !important;
    padding: 4px !important;
    border-radius: 10px !important;
    row-gap: 20px !important;
    background: transparent !important;
    margin-right: 40px !important;
  }
}
.slick-dots li {
  background-color: #81672C  !important;
  /* width: 100px !important; */
  /* padding: 4px !important; */
  border-radius: 10px !important;
  /* row-gap: 3px !important; */
  background: transparent !important;
  /* margin-right: 40px !important; */
}


.slick-arrow.slick-prev {
  font-size: 10px;

}
.ant-carousel .slick-prev::before {
    content: '';
    display: block;
    position: relative;
    /* bottom: 20px;
    right: 3px; */
    /* width: 100px; */
    /* font-size: 25px; */
    color: gray;
    /* background-color: white; */
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    border-radius: 50%;
    /* width: 33px;
    height: 33px; */

}
.slick-arrow.slick-next {
  font-size: 10px;
}
.ant-carousel .slick-next::before {
  content: '';
  display: block;
  position: relative;
  /* right: 3px; */
  /* bottom: 20px; */
  /* width: 100px; */
  font-size: 25px;
  color: gray;
  /* background-color: white; */
  /* border: 2px solid gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  border-radius: 50%;
  /* width: 33px;
  height: 33px; */
}
